.comment-items {
    list-style-type:none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-item {
    margin-bottom: 10px;
}