
.video-title {
    font-size: 14px; 
    justify-content: center; 
    text-align: left; 
    width: 100%;
  }
.related-videos-container {
    justify-content: center; 
    text-align: left; 
  }

h2{
  display: flex;
  justify-content: left; 
  text-align: left; 
}
    