/* relatedVideos.css */
.video-title {
    font-size: 14px; /* Adjust the desired font size */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
  }
  
    