.video-related {
    display: flex;
    align-items: flex-start; /* Adjust alignment as needed */
  }
  
  .video-player-container {
    width: 80%; /* Adjust the desired width */
  }
  
  .related-videos-container {
    width: auto; /* Adjust the desired width */
    padding-left: 10px; /* Add padding for separation */
  }
  